@model LoginDe.Net.Models.Usuario

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar Usuario</h1>

<h3>¿Estás Seguro de que quieres Eliminar este Usuario?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Usuario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido_Paterno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido_Paterno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido_Materno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido_Materno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
    </dl>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdUsuario" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
        <br />
        <a asp-action="Index" class="btn btn-secondary mt-2">Volver a la lista</a>
    </form>
</div>
