@model IEnumerable<LoginDe.Net.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Usuarios</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear un nuevo usuario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Usuario</th>
            <th>Contraseña</th>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Correo Electrónico</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre_Usuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido_Paterno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido_Materno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdUsuario" class="btn btn-primary btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.IdUsuario" class="btn btn-info btn-sm">Detalle</a>
                    <a asp-action="Delete" asp-route-id="@item.IdUsuario" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
